---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Grain from "../components/ui/Grain.astro";

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.DEV || (!data.draft && data.published < new Date());
});
---

<Layout title="Blog" description="Blog by Eric Dew">
  <Grain />

  <h1 class="pt-8 text-center text-4xl font-extrabold">Blog</h1>
  <section class="px-4 lg:px-0 py-8 gap-20">
    <ul class="flex flex-col items-center mx-auto gap-y-4 md:gap-y-6 lg:gap-y-8">
      {
        posts.map((post) => (
          <li class="max-w-screen-md w-full transition-transform duration-300 ease-out hover:scale-[1.03]">
            <a
              href={`/${post.slug}`}
              class="block rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-zinc-700 dark:bg-zinc-800"
            >
              {post.data.cover
                ? <img
                    class="rounded-lg mb-6"
                    src={post.data.cover}
                  />
                : <></>
              }
              
              <h2 class="mb-2 text-2xl font-bold tracking-tight">{post.data.title}</h2>
              
              <small>
                <time datetime={post.data.published.toISOString()}>{post.data.published.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}</time>
              </small>

              <p class="pt-2 font-normal text-gray-700 dark:text-gray-400">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
