---
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props;

const WORDS_PER_MINUTE = 200;

function getReadingTime(content: string) {
  if (!content) return;
  const clean = content.replace(/<\/?[^>]+(>|$)/g, "");
  const numberOfWords = clean.split(/\s/g).length;
  return Math.ceil(numberOfWords / WORDS_PER_MINUTE);
}
---

<Layout title={article.data.title} description={article.data.description} hidden={article.data.draft}>
  <article class="prose prose-neutral m-auto py-16 prose-img:m-auto prose-video:m-auto prose-img:rounded-xl prose-video:rounded-xl dark:prose-invert md:prose-lg lg:prose-xl">
    <div class="text-center">
      <small>
        <time datetime={article.data.publishedDate.toISOString()}>{article.data.publishedDate.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}</time>
        •
        {getReadingTime(article.body)} min read
      </small>
      <h1>{article.data.title}</h1>
    </div>

    <slot />
  </article>
</Layout>

<script>
  Array.from(document.getElementsByTagName("a"))
    .filter((link) => link.hostname != window.location.hostname)
    .forEach((link) => (link.target = "_blank"));
</script>
