---
import GTMBody from '../components/analytics/GTMBody.astro';
import GTMHead from '../components/analytics/GTMHead.astro';

export interface Props {
  title: string;
  description: string;
  hidden?: boolean;
}

const { title, description, hidden = false } = Astro.props;
const share_image = "https://res.cloudinary.com/dwjfacaod/image/upload/v1673331417/public/share_vwcfsm.jpg";

const prod = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="robots" content={`${hidden ? "noindex" : "all"}`}>

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌉</text></svg>" />
    <link rel="preload" href="/fonts/subset-OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/subset-OpenSans-MediumItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <title>{title}</title>

    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Eric Dew" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={description} />

    <meta property="og:image" content={share_image} />
    <meta property="og:image:url" content={share_image} />
    <meta property="og:image:secure_url" content={share_image} />
    <meta property="og:type" content="image/jpeg" />
    <meta property="og:image:width" content="2160" />
    <meta property="og:image:height" content="1080" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ericdew" />
    <meta name="twitter:creator" content="@ericdew" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={share_image} />
    <meta name="twitter:image:alt" content="Concert photography portfolio by Eric Dew" />
    
    {{prod} && <GTMHead />}
  </head>

  <body class="bg-slate-100 text-neutral-900 dark:bg-neutral-900 dark:text-slate-100">
    {{prod} && <GTMBody />}
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-ExtraBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/subset-OpenSans-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-neutral-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-solid border-slate-100 bg-neutral-400 opacity-50 dark:border-neutral-900 dark:bg-neutral-600;
  }
</style>
